section{
    display: flex;
}
div{
    margin: 6%;
}
#car{
    width: 80px;
    height: 70px;
    padding: 130px 0px 2px 0px;
}
#n{
    display: flex;
    margin: 2%;
}
#funko{
    width: 100%;
    padding: 5%;
    border: solid black 2px;
}
